<div class="container" style="width: 60%; margin: auto;">
    <h1>Add Cake</h1>
    <form class="row g-3">
        <div class="col-12">
            <label for="image" class="form-label">Cake Image</label>
            <div class="input-group mb-3">
                <input (change)="onFileChange($event)" type="file" class="form-control" id="image">
                <label class="input-group-text" for="image">Browse</label>
            </div>
        </div>
        <div class="col-md-6">
          <label for="name" class="form-label">Cake Name</label>
          <input name="name" [(ngModel)]="name" type="text" class="form-control" id="name">
        </div>
        <div class="col-md-6">
          <label for="price" class="form-label">Price</label>
          <input name="price" [(ngModel)]="price" type="number" class="form-control" id="price">
        </div>
        <div class="col-12">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" [(ngModel)]="description" id="description" rows="3" cols="100%" placeholder="Write your Desription here"></textarea>
        </div>
        <div class="col-md-6">
            <label for="weight" class="form-label">Weight</label>
            <input name="weight" [(ngModel)]="weight" type="number" id="weight" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="caketype" class="form-label">Type</label>
            <select name="caketype" [(ngModel)]="caketype" id="caketype" class="form-control">
                <option>Select a type</option>
                <option>Butter</option>
                <option>Bread</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="flavour" class="form-label">Flavour</label>
            <input name="flavour" [(ngModel)]="flavour" type="text" id="flavour" class="form-control">
        </div>
        <div class="col-md-6">
            <div class="form-check" style="padding: 10%;">
                <input name="eggless" [(ngModel)]="eggless" class="form-check-input" type="checkbox" value="" id="eggless">
                <label class="form-check-label" for="eggless">
                  Eggless
                </label>
              </div>
        </div>
        <div class="col-md-3">
            <button (click)="addcake()" class="btn btn-primary">Add Cake</button>
        </div>
        
      </form>
    
</div>
